<%= link_to("<< Back to List",{ :action => 'index' }, :class => 'back-link') %>

<div class="groups edit">
  <h2>Create Group</h2>

  <%= form_for(:group, :url => { action: 'update', :id => @group.id }) do |f| %>

    <table summary="Groups form fields">
      <tr>
        <th>Group Name</th>
        <td><%= f.text_field(:group_name) %></td>
      </tr>
      <tr>
        <th>Category</th>
        <td><%= f.text_field(:category) %></td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td><%= f.text_field(:phone_number) %></td>
      </tr>
      <tr>
        <th>Details</th>
        <td><%= f.text_field(:details) %></td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= submit_tag("Edit Group") %>
    </div>

  <% end %>

</div>
