<div class="groups show">
  <%= link_to("Back to list", { :action => 'index' }, :class => 'back-link') %>
  <% @header=@group.group_name %>

  <table summary="Group detail view">
    <tr>
      <th>Category</th>
      <td><%= @group.category %></td>
    </tr>
    <tr>
      <th>Phone Number</th>
      <td><%= @group.phone_number %></td>
    </tr>
    <tr>
      <th>Details</th>
      <td><%= @group.details %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @group.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @group.updated_at %></td>
    </tr>
  </table>
</div>
