<div class="users new">
  <h2>Create User Profile</h2>
  <%= link_to("<< Back to List",{ :action => 'index' }, :class => 'back-link') %>

  <div class="row">
    <div class="col-xs-offset-1 col-xs-9">
      <%= form_for(:user, :url => { :action => 'create' }, :html => { :multipart => true } ) do |f| %>

        <div class="form-user">
          <label for="name">First Name</label>
          <%= f.text_field(:fname, class: 'form-control') %>
        </div>

        <div class="form-user">
          <label for="name">Last Name</label>
          <%= f.text_field(:lname, class: 'form-control') %>
        </div>

        <div class="form-user">
          <label for="date_of_birth">Date of Birth</label>
          <%= f.date_select(:date_of_birth, start_year: 1950, class: 'form-control') %>
        </div>

        <div class="form-user">
          <label for="gender">Gender</label>
          <%= f.select :gender, ["Male", "Female", "Other"] %>
        </div>

        <div class="form-buttons">
          <%= submit_tag("Create User", class: 'btn btn-default') %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
