<%= link_to("<< Back to List",{ :action => 'index' }, :class => 'back-link') %>

<div class="events edit">
  <h2>Create Event</h2>

  <%= form_for(:event, :url => { action: 'update', :id => @event.id }) do |f| %>

    <table summary="Events form fields">
      <tr>
        <th>Event Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Venue</th>
        <td><%= f.text_field(:venue) %></td>
      </tr>
      <tr>
        <th>Time</th>
        <td><%= f.date_select(:time, default: @time) %></td>
      </tr>
      <tr>
        <th>Type</th>
        <td><%= f.select :category, ["meeting", "conference"]%></td>
      </tr>
      <tr>
        <th>Capacity</th>
        <td><%= f.text_field(:capacity) %></td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td><%= f.text_field(:phone_number) %></td>
      </tr>
      <tr>
        <th>Details</th>
        <td><%= f.text_area(:details) %></td>
      </tr>
    </table>
    <div class="form-buttons">
      <%= submit_tag("Edit Event") %>
    </div>

  <% end %>

</div>
