<% @header="Events" %>
<div class="events index container">

  <%= link_to("New Event", { :action => 'new' }, :class => 'action new') %>

  <% @events.each do |event| %>
    <table class="listing" summary="Event list">
      <tr class="header">
        <th><%= event.time.to_date.to_formatted_s(:long_ordinal) %></th>
        <th><%= link_to(event.name, { :action => 'show', :id => event.id }, :class =>'show') %></th>
      </tr>
      <tr>
        <td><%= event.time.to_time.to_formatted_s(:long_ordinal) %></td>
        <td><%= event.details %></td>
      </tr>
    </table>
  <% end %>
</div>
