<div class="events index">
  <h2>Events</h2>

  <%= link_to("New Event", { :action => 'new' }, :class => 'action new') %>

  <table class="listing" summary="Event list">
    <tr class="header">
      <th>Event Name</th>
      <th>Venue</th>
      <th>Time</th>
      <th>Type</th>
      <th>Capacity</th>
      <th>Phone Number</th>
      <th>Details</th>
      <th>Actions</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.venue %></td>
      <td><%= event.time %></td>
      <td><%= event.type %></td>
      <td><%= event.capacity %></td>
      <td><%= event.phone_number %></td>
      <td><%= event.details %></td>
      <td>
        <%= link_to("Show", { :action => 'show', :id => event.id }, :class =>'show') %>
        <%= link_to("Edit", { :action => 'edit', :id => event.id }, :class =>'edit') %>
        <%= link_to("Delete", { :action => 'destroy', :id => event.id }, :class =>'destroy') %>
      </td>
      <% end %>
    </tr>
  </table>
</div>
